<h1>Search Results</h1>
 <table>
   <thead>
     <tr>
       <th>Title</th>
       <th>Body</th>
     </tr>
   </thead>
   <tbody>
     <% @pg_search_documents.find_each do |document| %>
       <tr>
         <td><%= document.searchable.title %></td>
         <td><%= document.searchable.body %></td>
         <td><%= link_to 'Show', class: "btn btn-primary"%></td>
       </tr>
     <% end %>
   </tbody>
 </table>
