<h1>Search Results</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <% @pg_search_documents.each do |pg_search_document| %>
      <tr>
        <td><%= pg_search_document.title %></td>
        <td><%= pg_search_document.body %></td>
        <td><%= link_to 'Show', pg_search_document.searchable.title, class: "btn btn-primary"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
